//- 
  Post elements
  
  Hierarchy:
  
  > postList
    > post
      > postHeader
        > postElement
      > postBody
      > postFooter
    
mixin postListFormat(postList)
  each val in postList
    +post(val.author, val.email, val.text, val.date, val.subject, val.id)
    hr

mixin post(name, email, body, date, subject, code)
  div(id=code class='postContainer')
    div(class='ref')
      a(href='#'+code) &gt;&gt;
    div(class='postWrapper')
      +postHeader(name, email, date, subject, code)
      +postBody(body)
      +postFooter(code)

mixin postFooter(code)
  div(class='postFooter')
    div(class='postCode') ID: #{code}

mixin postBody(body)
  div(class='postBody')!= body

mixin postHeader(name, email, date, subject, code)
  div(class='postHeader')
    div(class='postOptions')
      a(class='postOption' href='#text' onclick='copyReply(\''+code+'\');')
        span Reply
      a(class='postOption' href='#postText')
        span Report
    +postElement('postName', 'Name', name+' ['+email+']')
    +postElement('postDate', 'Date', date)
    +postElement('postSubject', 'Subject', subject)
    
mixin postElement (elementClass, label, value)
  div(class=elementClass) 
    strong #{label}: 
    span!= value

    
mixin lockedNotice (locked) 
  if locked
    div(class='notice') This thread is locked.
    hr
      
mixin adminTools (locked, stickied, id)
    div
      +lockThread(locked, id)
      +stickyThread(stickied, id)
    

mixin stickyThread (stickied, id)
  if stickied
    form(action=id+"/unsticky" method="post")
      input(id='submit' type='submit' name='submit' value='Unsticky')
  else
    form(action=id+"/sticky" method="post")
      input(id='submit' type='submit' name='submit' value='Sticky')
    


    
mixin lockThread (locked, id)
  if locked
    form(action=id+"/unlock" method="post")
      input(id='submit' type='submit' name='submit' value='Unlock')
  else
    form(action=id+"/lock" method="post")
      input(id='submit' type='submit' name='submit' value='Lock')
    
