//-
  Thread listing
  
  Hierarchy:
  
  > threadList
    > thread
    
  > boardList
    > board

mixin threadListFormat(threadList)
  table(class='threadList')
    tr
      th(class='threadListElementProperty') Subject
      th(class='threadListElementProperty') Author
      th(class='threadListElementProperty') Bump time
      th(class='threadListElementProperty') Bumper
    each val in threadList
      +thread(val)
    
mixin thread (thread)
  tr(class='threadListElement')
    td(class='threadListElementProperty')
      a(href='/site/'+thread.list+'/'+thread.id)
        span!= thread.subject
      if thread.stickied
        +sticky()
      if thread.locked
        +locked()
    td(class='threadListElementProperty')!= thread.author
    td(class='threadListElementProperty')!= thread.bump
    td(class='threadListElementProperty')!= thread.bumper

mixin boardListFormat(boardList)
  table(class='boardList')
    tr
      th(class='boardListElementProperty') Board name
      th(class='boardListElementProperty') Description
      th(class='boardListElementProperty') Owner
    each val in boardList
      +board(val)

mixin board (board)
  tr(class='boardListElement')
    td(class='boardListElementProperty')
      a(href='/site/'+board.name)
        if board.name
          = board.name
        else
          span master
    td(class='boardListElementProperty')= board.description
    td(class='boardListElementProperty')= board.owner
